header {
  display: flex;
  background-color: var(--backgorund-tertiary-color);
  justify-content: space-between;
  padding: 38px 48px;
}
.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

nav {
    display: none;
}

.navigation-menu {
    margin-top: 24px;
}