.card {
    color: var(--text-secondary-color);
}

.card header {
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    padding: 24px 16px;
    position: static;
    width: 312px;
    height: 88px;
}