

.offers-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;  
}

.offers-card .card {
  box-sizing: border-box;
  color: var(--text-secondary-color);
  padding: 24px 16px;
  position: static;
  width: 312px;
  height: 288px;
  border-radius: 16px;
  text-align: center;
}

.offers-card .card header {
  margin-bottom: 24px;
}

.offers-card .card header p {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: var(--text-weight);
}

.offers-card .card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin: 8px 0 0;
}

.offers-card .card header span {
  display: block;
  font-size: 32px;
  margin-top: 24px;
}

.offers-card .card.japao {
  background: url(../img/bg-card-japao.jpg) no-repeat;
  background-size: cover;
}

.offers-card .card.san-andreas {
  background: url(../img/bg-card-san-andreas.jpg) no-repeat;
  background-size: cover;
}

.offers-card .card.paraiba {
  background: url(../img/bg-card-paraiba.jpg) no-repeat;
  background-size: cover;
}

.offers-card .card.manaus {
  background: url(../img/bg-card-manaus.jpg) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .offers-card {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .offers-card .card {
    width: 420px;
    height: 308px;
  }

  .offers-card .card header h3 {
    font-size: 48px;
  }

  .offers-card .card header span {
    font-size: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .offers-card .card {
    width: 588px;
  }
}

@media screen and (min-width: 1920px) {
  .offers-card {
    width: 1250px;
    margin: 0 auto;
  }
}
