.image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
  width: 100%;
}

.image.first {
  background: url(../img/payments-bag.jpg) no-repeat;
  background-size: cover;
}

.image.second {
  background: url(../img/payments-passport.jpg) no-repeat;
  background-size: cover;
}

.image.thirdy {
  background: url(../img/payments-person.jpg) no-repeat;
  background-size: cover;
}

.payments .image-gallery .image.colspan-2 {
  grid-column: span 2;
}

.travel-packages.payments .content-container .image-gallery .image.first {
  background: url(../img/gallery-1.jpg) no-repeat;
  background-size: cover;
}
.travel-packages.payments .content-container .image-gallery .image.second {
  background: url(../img/gallery-2.jpg) no-repeat;
  background-size: cover;
}
.travel-packages.payments .content-container .image-gallery .image.thirdy {
  background: url(../img/gallery-3.jpg) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .image.first {
    background: url(../img/payments-tablet-bag.jpg) no-repeat;
    background-size: cover;
  }

  .image.second {
    background: url(../img/payments-tablet-passport.jpg) no-repeat;
    background-size: cover;
  }

  .image.thirdy {
    background: url(../img/payments-tablet-person.jpg) no-repeat;
    background-size: cover;
  }

   .travel-packages.payments .content-container .image-gallery .image.first {
    background: url(../img/gallery-1-tablet.jpg) no-repeat;
    background-size: cover;
  }
  .travel-packages.payments .content-container .image-gallery .image.second {
    background: url(../img/gallery-2-tablet.jpg) no-repeat;
    background-size: cover;
  }
  .travel-packages.payments .content-container .image-gallery .image.thirdy {
    background: url(../img/gallery-3-tablet.jpg) no-repeat;
    background-size: cover;
  }
}


@media screen and (min-width: 1440px) {
  .content-container {
    display: flex;
    justify-content: space-between;
  }

  .text-content {
    width: 360px;
  }

  .image-gallery {
    width: 790px;
    margin: 0;
  }
}
